* {
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;800&display=swap');

body {
    background-color: #D74949;
    min-width: fit-content;
}

main {
    background-color: #F3F3F3;
    max-width: 1110px;
    margin: auto;
    padding: 100px 50px 100px 51px;
    height: fit-content;
    min-height: calc(100vh - 70px);
}

footer {
    background-color: #3A3A3A;
    width: 100%;
    padding: 27px 0px 27px 0px;
    height: 70px;
}

footer p {
    color: #FFFFFF;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

main > h1 {
    color: #000000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

main > h2 {
    color: #000000;
    text-align: right;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.12px;
}

main > p {
    color: #000000;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

main > p span {
    color: #8F2727;
}