@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols:wght@300;600;700&display=swap');
/* font-family: 'Noto Sans Symbols', sans-serif; */


@import url('https://fonts.googleapis.com/css2?family=Allan&display=swap');
/* font-family: 'Allan', cursive; */

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #2D4480;
    font-family: 'Noto Sans Symbols', sans-serif;

    height: 100vh;
    width: 100vw;
    min-width: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: #FFFFFF;

    padding: 35px 50px 69px 50px;

    width: fit-content;
    height: fit-content;

    border-radius: 27px;
    box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.60);
}

.card h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 300;
    line-height: 36px;
    margin-bottom: 28px;
}

.card ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

.card hr {
    width: 188px;
    border: 1px solid #000000;
    margin-top: 27px;
    margin-bottom: 8px;
}
