* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    min-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mondrian-painting {
    background-color: black;
    height: 748px;
    width: 748px; 
    display: grid;
}