* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: gold;
}

.b,.c,.d,.e {
    display: none;
    visibility: hidden;
}

@media (min-width: 768px) {
    body {
        background-color: pink;
    }

    .a,.c,.d,.e {
        display: none;
        visibility: hidden;
    }

    .b {
        display: block;
        visibility: visible;
    }
}

@media (min-width: 1280px) {
    body {
        background-color: chocolate;
    }

    .a,.b,.d,.e {
        display: none;
        visibility: hidden;
    }

    .c {
        display: block;
        visibility: visible;
    }
}
