@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* font-family: 'Inter', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');
/* font-family: 'Raleway', sans-serif; */

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #232323;
    min-width: fit-content;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

img {
    width: 100%;
}

/* header begin*/

header {
    background-color: #3a3d46;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%; /* 14px */
    letter-spacing: 0.77px;
}

nav ul li a.active {
    padding: 8px 10px;
    border-radius: 4px;
    background: #007DFC;
}

header .container {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* header end */
/*************************/
/* text section begin */

.text-section {
    color: #FFFFFF;
    background-color: #232323;
    padding-top: 20px;
    padding-bottom: 20px;
}

.text-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 22px;
}


.text-flex h1 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 65px;
    font-weight: 800;
    line-height: 100%; /* 65px */
    letter-spacing: 2.6px;
}

.text-flex h1 span {
    color: #FFB800;
    font-family: 'Raleway', sans-serif;
    font-size: 65px;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 2.6px;
}

.text-flex .slogan {
    text-transform: capitalize;
    color: #007DFC;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 800;
    line-height: 100%; /* 26px */
    letter-spacing: 1.04px;
}

.text-flex hr {
    background-color: #949494;;
    max-width: 463px;
    height: 2px;
}

.text-flex .description {
    max-width: 387px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 130.5%; /* 20.88px */
    letter-spacing: 0.32px;
}

.text-flex button {
    background-color: #FFB800;
    transition-duration: 2s;
    cursor: pointer;
    border: none;
    border-radius: 45px;
    padding: 10px 27px ;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 130.5%; /* 20.88px */
    letter-spacing: 0.32px;
}

.text-flex button:hover {
    background-color: #007DFC;
    color: #FFFFFF;
}

/* text section end */
/*************************/
/* articles section begin */

.articles-section {
    background-color: #F6F6F6;
    padding-top: 82px;
    padding-bottom: 95px;
}

.articles-section h2 {
    margin-bottom: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 130.5%; /* 36.54px */
    letter-spacing: 0.56px;
}

.articles-section h2 .underline {
    background-color: #000000;
    width: 145px;
    height: 1px;
    transform: translate(48px);
}

.articles-grid {
    min-height: 559px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.first-article {
    grid-row: span 2;
}

.articles-grid img {
    object-fit: cover;
    height: 100%;
}

/* articles section end */
